				<ul class="mb15">
          <li><a href="/lxwm/#l1" class="<%='active' if ['lxwm'].include?(current_action) %>">联系我们</a></li>
          <li><a href="/lxwm/#l2">行车路线</a></li>
          <li><a href="/lxwm/#l3">常见问题</a></li>
          <li><a href="/feedback/index" class="<%='active' if ['index'].include?(current_action) %>">在线留言</a></li>
				</ul>
				<img src="/images/top/q_11.jpg" />
