				<ul class="mb15">
          <li><a href="/info">关于我们</a></li>
          <li><a href="/footer/index" class="<%='active' if ['index'].include?(current_action) %>">兼职招聘</a></li>
          <li><a href="/footer/zshz" class="<%='active' if ['zshz'].include?(current_action) %>">招商合作</a></li>
          <li><a href="/footer/bqsm" class="<%='active' if ['bqsm'].include?(current_action) %>">版权声明</a></li>
          <li><a href="/footer/map" class="<%='active' if ['map'].include?(current_action) %>">网站地图</a></li>
				</ul>
				<img src="/images/top/q_11.jpg" />
