				<ul class="mb15">
					<li><a class="active" href="#f1">美食图片</a></li>
					<li><a href="#f2">菜品介绍</a></li>
					<li><a href="#f3">价格说明</a></li>
					<li><a href="#f4">特价菜色</a></li>
				</ul>
				<img src="/images/il2.gif" />
