				<ul class="mb15">
					<li><a class="active" href="#f1">美食图片</a></li>
					<li><a href="#f2">凉菜</a></li>
					<li><a href="#f3">主食汤类</a></li>
					<li><a href="#f4">包席菜品</a></li>
				</ul>
				<img src="/images/il2.gif" />
