				<ul class="mb15">
					<li><a class="active" href="#h1">客房照片</a></li>
					<li><a href="#h2">房间介绍</a></li>
					<li><a href="#h3">价格明细</a></li>
					<li><a href="#h4">特价房间</a></li>
				</ul>
				<img src="/images/il2.gif" />
