		<div class="mainBox">
			<div class="minNav">
				<p>版权声明 &gt; <a href="/">首页</a></p>
			</div>
			<div class="mainAll">
				<ul>
					<li>未经西安山水农家乐网（李海涛）书面许可，任何单位及个人不得以任何方式或理由对本网站图片、文字、产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。</li> 
					<li>凡侵犯本农家乐版权等知识产权的，本农家乐必依法追究其法律责任。</li> 
					<li>本农家乐法律事务部受本公司指示，特此郑重法律声明！</li>
				</ul>
			</div>
		</div>
