		<div class="mainBox">
			<div class="minNav">
				<p>兼职招聘 &gt; <a href="/">首页</a></p>
			</div>
			<div class="mainAll">
				<div class="box">
					<h5>销售人员</h5>
					<h6>职位描述</h6>
					<p>1.	全面推广山水农家乐的吃住玩产品； </p>
					<p>2.	负责农家乐客户的食宿、旅游咨询，并处理客户预定；</p> 
					<p>3.	积极开发团体客户；</p> 
					<p>4.	维护大客户及长期客户的关系。</p> 
					<h6>任职要求：</h6>
					<p>1.	大专以上学历，旅游相关专业者优先；对西安周边的农家乐和度假村有一定了解</p> 
					<p>2.	有二年以上相关的旅游工作经验，有良好的团队合作精神，性格开朗；</p> 
					<p>3.	熟悉西安农家乐的特点和推广方式； </p>
					<p>4.	形象朴实，思维敏捷，有良好的交流和沟通能力，具备一定的销售技巧；</p> 
					<p>5.	有电话销售经验优先，能够承受一定的工作压力，勇于承担责任。</p> 
					<p>联系我们：50868470@qq.com</p>
				</div>
				<div class="box">
					<h5>服务员</h5>
					<h6>工作职责：</h6>
					<p>1.	为客人服务（点菜，送菜，上饮料等）；</p> 
					<p>2.	收拾打扫饭后餐桌，保持用餐环境整洁； </p>
					<p>3.	与客人、管理者、厨房员工进行有效沟通。</p> 
					<h6>工作要求：</h6>
					<p>1.	为人开朗热情，服务意识强；</p> 
					<p>2.	身体状况良好； </p>
					<p>3.	能适应山里宁静的生活；</p> 
					<p>4.	具有良好的沟通及应变能力；</p> 
					<p>5.	有责任感。</p> 
					<p>联系我们：50868470@qq.com</p>
				</div>
				<div class="box">
					<h5>保洁员</h5>
					<h6>工作职责：</h6>
					<p>1.	打扫客房（更换床单，处理卫生间，清扫房间等）； </p>
					<p>2.	清扫院子、客厅； </p>
					<p>3.	保持农家院整洁干净。</p> 
					<h6>工作要求：</h6>
					<p>1.	诚实守信，能够吃苦耐劳；</p> 
					<p>2.	身体状况良好； </p>
					<p>3.	能适应山里宁静的生活；</p> 
					<p>4.	有责任感。 </p>
					<p>联系我们：50868470@qq.com</p>
				</div>
			</div>
		</div>
