		<div class="mainBox">
			<div class="minNav">
				<p>网站地图 &gt; <a href="/">首页</a></p>
			</div>
			<div class="mainAll">
				<div class="map">
					<h5><a href="/">首页</a></h5>
					<h5><a href="/info">简介</a></h5>
					<p><a href="/post/news">最新动态</a><a href="/info/njwh">农家文化</a><a href="/post/buy">土特产代购</a></p>
					<h5><a href="/house/1">温馨住宿</a></h5>
     				<p><a href="/house/1">客房照片</a><a href="/house/#h2">房间介绍</a><a href="/house/#h3">价格明细</a><a href="/house/#h4">特价房间</a></p>
					<h5><a href="/food/11">特色美食</a></h5>
     				<p><a href="/food/11">美食图片</a><a href="/food/11/#f2">菜品介绍</a><a href="/food/11/#f3">价格说明</a><a href="/food/11/#f4">特价菜肴</a></p>
					<h5><a href="/fun">风景娱乐</a></h5>
     				<p><a href="/fun">周边景点</a><a href="/fun/fun1">户外休闲</a><a href="/fun/fun2">室内娱乐</a></p>
					<h5><a href="/post/index">农家乐资讯</a></h5>
          <p><a href="/post/index/3">农家乐新闻</a><a href="/post/index/4">外省农家乐资讯</a><a href="/post/index/6">农家乐经营</a><a href="/post/index/5">农家乐问题研究</a></p>   
					<h5><a href="/lxwm">联系我们</a></h5>
					<p><a href="/lxwm">联系我们</a><a href="/lxwm/#l2">行车路线</a><a href="/lxwm/#l3">常见提问</a><a href="/feedback">在线留言</a></p> 
					<h5>其他</h5>
    				<p><a href="/info">关于我们</a><a href="/footer">兼职招聘</a><a href="/footer/zshz">招商合作</a><a href="/footer/bqsm">版权声明</a><a href="/footer/map">网站地图</a></p>
				</div>
			</div>
		</div>
