		<div class="mainBox">
			<div class="minNav">
				<p>招商合作 &gt; <a href="/">首页</a></p>
			</div>
			<div class="mainAll">
				<div class="indent">
					<p>“农家乐”顾名思义就是久居城市的居民到农村农家大院休闲娱乐。“农家乐”大多是城市郊区或郊县的农民结合自己的种植、养殖，如葡萄、果木、花卉、鱼塘等，同时对庭院加以修饰改造，再利用院坝、小溪、水池营造出或小桥流水，或花鸟虫鱼的田园美景。游客至此，赏田园风光，闻泥土芳香，品农家风味，观民风民俗，真可谓其乐无比。作为传统农业和现代农业的结合，农家乐充分使人得以回眸传统社会农家生活的自然乐趣，传统农业精耕细作的劳动技能，又能展望到市场化、产业化和具有科技含量的现代农业的巨大潜力。</p>
					<p>“农家乐”旅游的雏形来自于国内外的乡村旅游，并将国内特有的乡村景观、民风民俗等融为一体，因而具有鲜明的乡土烙印。同时，它也是人们旅游需求多样化、闲暇时间不断增多、生活水平逐渐提高和“文明病”、“城市病”加剧的必然产物，是旅游产品从观光层次向较高的度假休闲层次转化的典型例子。</p> 
					<p>乡村旅游在国外已有30多年的历史，开展得比较成功的多是一些欧美发达国家。20世纪60年代初，当时的旅游大国西班牙把乡村的城堡进行一定的装修改造成为饭店，用以留宿过往客人，这种饭店称为“帕莱多国营客栈”；同时，把大农场、庄园进行规划建设，提供徒步旅游、骑马、滑翔、登山、漂流、参加农事活动等项目，从而开创了世界乡村旅游的先河。以后，乡村旅游在美国、法国、波兰、日本等国家得到倡导和大力发展。1995 年，美国农村客栈总收入为40亿美元。1997年，美国有1800万人前往乡村、农场度假，仅在美国东部便有1500个观光农场，在西部还有为数众多的专门用于旅游的牧场。目前，法国有1.6万多户农家建立了家庭旅馆，推出农庄旅游,全国33％的游人选择了乡村度假，乡村旅游每年接待游客200万,能给农民带来700亿法郎的收入，相当于全国旅游收入的1／4。在欧美国家，乡村旅游已具有相当规模，并已走上了规范化发展的轨道，显示出极强的生命力和巨大的发展潜力。</p> 
					<p>国内，真正意义上的乡村旅游始于20世纪80年代，它在特殊的旅游扶贫政策指导下应运而生，但由于起步较晚，目前尚处于初期阶段。目前我国各地的乡村旅游开发均向融观光、考察、学习、参与、康体、休闲、度假、娱乐于一体的综合型方向发展，其中国内游客参加率和重游率最高的乡村旅游项目是：以“住农家屋、吃农家饭、干农家活、享农家乐”为内容的民俗风情旅游；以收获各种农产品为主要内容的务农采摘旅游；以民间传统节庆活动为内容的乡村节庆旅游。</p> 
					<p>以2002年国庆节期间成都郊区“农家乐”为例。仅郫县友爱乡农科村、金牛区金牛乡等几个“农家乐”较集中的地方，在国庆长假接待游客量在日均6万人以上。农家乐将弥补中国城市化进程中人们的旅游需求，以其廉价清新的自然优势占据中国人生活旅游的广阔市场。我们山水农家乐在目前60万投资基础上，还有更多顺应市场的项目期待您的加盟合作，真诚希望能与看好中国农家乐市场的有识之士携手合作，共赢互利。</p>
					<p>邮箱：50868470@qq.com</p>
					<p>联系人：赵女士</p>
					<!-- <p>手机： 13811966329</p> -->
					<p>联系电话：029-85298621</p>
				</div>
			</div>
		</div>
