		<div class="mainBox">
			<div class="minNav">
				<p>户外休闲 &lt; <a href="/fun">风景娱乐</a> &lt; <a href="/">西安山水农家乐</a></p>
			</div>
			<div class="mainAll">
				<table>
					<tr>
						<th class="click"><a class="active" href="/fun/fun1">重点推荐</a></th>
						<th class="title"><a href="/post/show/170">垂钓</a></th>
						<th class="user"><a href="/post/show/171">开心菜园</a></th>
						<th class="time"><a href="/post/show/172">篝火晚会</a></th>
						<th class="reply"><a href="/post/show/173">山村乐趣休闲</a></th>
					</tr>
				</table>
				<div class="box">
					<div class="left"><img src="/images/funr3.png" /></div>
					<div class="rightBox" style="width:370px;">
						<h4 class="h4c4"><a class="h4c4" href="/post/show/170">垂钓</a></h4>
						<p>垂钓是一项有益于身心健康的娱乐活动。</p>
						<p>垂钓于江河湖海，空气清新，阳光充足，噪音小，</p>
						<p>是养身保健的良好环境。</p>
            			<p>参加垂钓活动有助于提高生活情趣，活跃各种生理功能,</p>
						<p>是保持心理健康卫生，防止抑郁症、</p>
			            <p>精神沮丧及焦急、暴躁等不良情绪的好方法。</p>
			            <p>山水农家垂钓园位于山脚，水质清凉，鱼味道鲜美，</p>
			            <p>是您陶冶情操、一品鲜美的巧选之地。</p>
					</div>
				</div>
				<div class="box">
					<div class="left" style="width:370px;">
						<h4 class="h4c3"><a class="h4c3" href="/post/show/171">开心菜园</a></h4>
						<p>“开心农场”的真实版，</p>
						<p>您可以来这里认领一块菜地，播撒什么种子由您决定，</p>
			            <p>您可以选择性来的施肥、浇水、采摘、送给亲友您的蔬菜大礼包，</p>
			            <p>也可以让我们帮您代养，您来收获。</p>
			            <p>给孩子一个农耕体验的学习机会；</p>
			            <p>给老人一个回归田园的温馨回忆；</p>
			            <p>给自己一个休闲娱乐的田园世界；</p>
			            <p>给全家一年绿色蔬菜的供给！  </p>
			            <p>我们为您准备了优质肥沃的土地、轻便工具、喜闻乐见的蔬菜种子、</p>
			            <p>以及有机肥料等等全套的农耕设备。</p>
			            <p>假日里，您可呼朋唤友到这里郊游，大家一块过把“菜农瘾”！</p>
					</div>
					<div class="right"><img src="/images/funr4.png" /></div>
				</div>
				<div class="box">
					<div class="left"><img src="/images/funr2.png" /></div>
					<div class="rightBox" style=" width:370px;">
            			<h4 class="h4c2"><a class="h4c2" href="/post/show/172">篝火晚会</a></h4>
						<p>篝火的习俗源自于过年，</p>
						<p>在年三十的夜晚一定要彻夜燃烧，吓走野兽鬼怪；</p>
						<p>而现在，篝火晚会演变成了农家乐的一大特色，</p>
			            <p>据传，大雁塔曾仿此塔而建，为两安现存最早的佛塔。</p>
			            <p>是烘烤食物、烘托热烈气氛的最佳道具，</p>
			            <p>聚会烧烤，燃起篝火唱起歌，随意舞动，笑声阵阵。</p>
					</div>
				</div>
				<div class="box">
					<h4 class="mb11"><a class="h4c1" href="/post/show/173"><img src="/images/funr5.png" />山村乐趣休闲</a></h4>
					<p>采摘时令果蔬、河里嬉戏玩耍、重新体验简单纯真的生活状态；</p>
		            <p>带孩子近距离认识农家作物、劳作工具、还有真实多样的家禽；</p>
		            <p>捉螃蟹抓虾米，追蝴蝶、赶黄牛，质朴丰富的农家生活，</p>
					<p>等你来发现更有乐趣的休闲体验。</p>
				</div>
			</div>
		</div>
