		<div class="mainBox">
			<div class="minNav">
				<p>室内娱乐 &lt; <a href="/fun">风景娱乐</a> &lt; <a href="/">西安山水农家乐</a></p>
			</div>
			<div class="mainAll">
				<table>
					<tr>
						<th class="click"><a class="active" href="/fun/fun2">室内娱乐</a></th>
						<th class="title"><a href="/post/show/174">2万首KTV歌库</a></th>
						<th class="user"><a href="/post/show/175">自动麻将机</a></th>
						<th class="time"><a href="/post/show/176">各种棋牌</a></th>
						<th class="reply"><a href="/post/show/177">喝茶聊天等</a></th>
					</tr>
				</table>
				<div class="box">
					<div class="left"><img src="/images/funr3.png" /></div>
					<div class="rightBox" style="width:370px;">
						<h4><a class="h4c4" href="/post/show/174">两万首KTV歌库</a></h4>
						<p>喜欢K歌？有没有尝试过在山里的院子里</p>
						<p>拿大功率的音响和无线麦克唱KTV？</p>
						<p>山水农家乐配备了电脑点歌及调音台设备，</p>
						<p>2万首曲库，快速点歌，</p>
						<p>特别的演唱环境，欢迎您来这里开自己的小歌唱！</p>
			            <p>朋友的聚会唱到high，单位的活动唱到爽，</p>
			            <p>前1个小时免费唱！</p>
			            <p>效果怎么样，试了就知道！</p>
					</div>
				</div>
				<div class="box">
					<div class="left" style="width:370px;">
						<h4><a class="h4c3" href="/post/show/175">自动麻将机</a></h4>
						<p>喜欢玩麻将放松又觉得洗牌太麻烦，</p>
						<p>我们为您提供了自动麻将机，</p>
			            <p>亲友聚会、休闲放松，自动麻将机方便又简单，</p>
			            <p>提供服务更好的服务是我们的宗旨，</p>
			            <p>您有什么需要，我们尽力帮你解决。</p>
			            <p>山水农家乐欢迎您。</p>
					</div>
					<div class="right"><img src="/images/funr4.png" /></div>
				</div>
				<div class="box">
					<div class="left"><img src="/images/funr2.png" /></div>
					<div class="rightBox" style=" width:370px;">
						<h4><a class="h4c2" href="/post/show/176">各种棋牌</a></h4>
						<p>对喜欢玩军棋、跳棋、象棋、扑克牌的朋友，</p>
						<p>我们专门为您免费提供这些娱乐道具，</p>
						<p>但是请您仔细爱惜，以方便日后其他朋友玩儿，</p>
			            <p>如果您喜欢杀人游戏这类思辨类的游戏，</p>
			            <p>组织上十来个人一起到山水小院，</p>
			            <p>在月朗星稀的夜晚，绝对是您玩杀人最有意境的选择。</p>
					</div>
				</div>
				<div class="box">
					<h4 class="mb11"><a class="h4c1" href="/post/show/177"><img src="/images/funr5.png" />喝茶聊天等</a></h4>
		        	<p>我们提供免费的茉莉花茶，也有普洱、铁观音、绿茶、</p>
		        	<p>菊花、金银花等茶品，其中金银花茶和五味子茶都是采摘自后山，</p>
		        	<p>山水农家乐的野生资源丰富，亲自品尝我们当地的土产茶，</p>
		        	<p>对身体健康有很多的好处。</p>
		        </div>
			</div>
		</div>
