		<div class="mainBox">
			<div class="minNav">
				<p>周边景点 &lt; <a href="/fun">风景娱乐</a> &lt; <a href="/">西安山水农家乐</a></p>
			</div>
			<div class="mainAll">
				<table>
					<tr>
						<th class="click"><a class="active" href="/fun">重点推荐</a></th>
						<th class="title"><a href="/post/show/165">翠华山</a></th>
						<th class="user"><a href="/post/show/167">秦岭草甸</a></th>
						<th class="time"><a href="/post/show/168">南五台山</a></th>
						<th class="reply"><a href="/post/show/169">农家周边免费景区</a></th>
					</tr>
				</table>
				<div class="box">
					<div class="left"><img src="/images/funr3.png" /></div>
					<div class="rightBox" style="width:370px;">
						<h4><a class="h4c4" href="/post/show/165">翠华山地质森林公园</a></h4>
						<p>国家首批地质公园，国家AAAA级景区。</p>
						<p>秦汉唐王朝起被辟为皇家的“上林苑” 、 “御花园”。</p>
						<p>汉武帝曾在翠华山拜谒太乙神。</p>
						<p>公园分为三大功能区：</p>
						<p>天池山崩科普娱乐区、翳芳湲生态休闲观光区、</p>
						<p>甘湫池森林健身区。</p>
					</div>
				</div>
				<div class="box">
					<div class="left" style="width:370px;">
						<h4><a class="h4c3" href="/post/show/167">秦岭草甸</a></h4>
						<p>秦岭梁式秦岭分水岭（一部分），是黄河、长江、两大水系的分水岭，是中国地理上的南北分界线。</p>
						<p>秦岭草甸景致幽深，被称为“秦岭深处的香格里拉”。</p>
						<p>从翠华山上秦岭草甸无须再买门票，只要有耐力和毅力，就可以直接到达。</p>
					</div>
					<div class="right"><img src="/images/funr4.png" /></div>
				</div>
				<div class="box">
					<div class="left"><img src="/images/funr2.png" /></div>
					<div class="rightBox" style=" width:370px;">
						<h4><a class="h4c2" href="/post/show/168">南五台山</a></h4>
						<p>为终南山支脉，山上有文殊，清凉，灵这，舍五五个小台，也是五个小山峰，称为南五台。</p>
						<p>南五台山形峻峭，峰峦重叠，森林茂密，风景极为秀丽。</p>
						<p>《关中通志》载，“今南山神秀之区，惟长安南五台为最”，山上圣寿寺塔建于隋代，方形七层，高23米。</p>
						<p>据传，大雁塔曾仿此塔而建，为两安现存最早的佛塔。</p>
					</div>
				</div>
				<div class="box">
					<h4 class="h4c1 mb11"><a class="h4c1" href="/post/show/169"><img src="/images/funr5.png" />农家乐周边免费景区</a></h4>
					<h5>牡丹庙</h5>
					<p>农家对面的山上有牡丹庙，小庙为依山而建的石头庙，爬上牡丹庙可瞰农家，别有一番景色。</p>
					<h5>双塔庙</h5>
					<p>体现了西安周边道教曾经的昌盛，山村里四处可见道教的寺庙和保佑平安的小庙。</p>
					<p>还有保佑日常生活的一些道教神仙。</p>
				</div>
			</div>
		</div>
