		<div class="mainBox">
			<div class="minNav">
				<div class="minNav"><h2>温馨<span>住宿</span></h2></div>
			</div>
			<table class="cmsNav">
				<tr>
					<th class="click"><a href="cms_food.html">图片列表</a></th>
					<th class="title"><a href="food_edit.html">新增图片</a></th>
					<th class="user"><a href="cms_food1.html">文字介绍</a></th>
					<th class="reply"><a class="active" href="cms_food_edit.html">编辑文字</a></th>
				</tr>
			</table>
			<div class="mainAll">
				<form class="cmsForm">
					<p>
						<label>美食介绍：</label><br />
						<textarea style="height:100px;"></textarea>
					</p>
					<p>
						<label>价格明细：</label><br />
						<textarea style="height:100px;"></textarea>
					</p>
					<p>
						<label>特价菜肴：</label><br />
						<textarea style="height:100px;"></textarea>
					</p>
					<p><input type="image" src="/images/tj.jpg"/></p>
				</form>
			</div>
		</div>
