<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="stylesheets/base.css" type="text/css" rel="stylesheet"/>
<title>特色美食</title>
<meta name="keywords" content="西安农家乐,西安山水农家乐|长安区农家乐|西安翠华山山水农家乐，环境优美，独立院落，三星级的住宿服务，普通农家乐>的价格|->西安山水农家乐,029-85898621 www.shanshui18.com,"/>
<meta name="description" content="西安农家乐,西安山水农家乐|长安区农家乐|西安翠华山山水农家乐，环境优美，独立院落，三星级的住宿服务，普通农家乐>的价格|->西安山水农家乐,029-85898621 www.shanshui18.com,"/>
</head>
<body>
<div id="wrap" class="house food">
	<div id="header">
		<div class="logo"><a href="index.html"><img src="images/top/house_1.jpg" /></a></div>
		<div class="mainNav">
			<p class="top"><a href="#">点击收藏</a> | <a href="#">设为首页</a> | <a href="#">我的博客</a></p>
			<div class="nav">
				<ul>
					<li class="index"><a href="index.html"></a></li>
					<li class="info"><a href="info.html"></a></li>
					<li class="house"><a href="house.html"></a></li>
					<li class="food"><a href="food.html"></a></li>
					<li class="fun"><a href="fun.html"></a></li>
					<li class="news"><a href="blog.html"></a></li>
					<li class="my"><a href="message.html"></a></li>
				</ul>
			</div>
			<div class="sdienav">
				<p><a href="#">美食图片</a><a href="#">菜品介绍</a><a href="#">价格说明</a><a href="#">特价菜色</a></p>
			</div>
		</div>
		<div class="topimg">
<%= render :partial => 'share/food_topimg' %>
		</div>
	</div>
	<div id="content" class="food">
		<div class="sideBox">
			<div class="sideAll">
<%= render :partial => 'share/food_leftnav' %>
			</div>
		</div>
		<div class="mainBox">
			<div class="minNav">
				<p>美食图片 &gt; <a href="#">农家美食</a> &gt; <a href="index.html">西安山水农家乐</a></p>
			</div>
			<div class="mainAll">
				<h4>农家餐饮<span>一览</span></h4>
				<p>山水农家乐的菜品都经过精心研究，以色、香、味俱全的高标准来要求自己。一年四季的时令鲜蔬是我们的主要食材，各种新鲜野味使我们的特色。</p>
				<table>
					<tr>
						<th class="click"><a class="active" href="#">特色推荐</a></th>
						<th class="title"><a href="#">时令家常菜</a></th>
						<th class="user"><a href="#">野菜类</a></th>
						<th class="time"><a href="#">野味类</a></th>
						<th class="reply"><a href="#">烧烤类</a></th>
					</tr>
				</table>
				<div class="albums">
					<ul id="slideshow">
						<li>
							<h3>图片一</h3>
							<span>images/tmp/house.jpg</span>
							<p></p>
							<a href="#"><img src="images/tmp/house11.jpg" alt="Orange Fish" /></a>					
						</li>
						<li>
							<h3>图片二</h3>
							<span>images/tmp/giveawaybox.jpg</span>
							<p></p>
							<img src="images/tmp/warriorepic_mediabox.jpg-112x50.jpg" alt="Sea Turtle" />					
						</li>
						<li>
							<h3>图片三</h3>
							<span>images/tmp/32comp.jpg</span>
							<p></p>
							<a href="#"><img src="images/tmp/32comp.jpg-112x50.jpg" alt="Red Coral" /></a>					
						</li>
						<li>
							<h3>图片四</h3>
							<span>images/tmp/update5.jpg</span>
							<p></p>
							<a href="#"><img src="images/tmp/update5.jpg-112x50.jpg" alt="Coral Reef" /></a>					
						</li>
						<li>
							<h3>图片一</h3>
							<span>images/tmp/house.jpg</span>
							<p></p>
							<a href="#"><img src="images/tmp/house11.jpg" alt="Orange Fish" /></a>					
						</li>
						<li>
							<h3>图片二</h3>
							<span>images/tmp/giveawaybox.jpg</span>
							<p></p>
							<img src="images/tmp/warriorepic_mediabox.jpg-112x50.jpg" alt="Sea Turtle" />					
						</li>
						<li>
							<h3>图片三</h3>
							<span>images/tmp/32comp.jpg</span>
							<p></p>
							<a href="#"><img src="images/tmp/32comp.jpg-112x50.jpg" alt="Red Coral" /></a>					
						</li>
					</ul>
					<div id="wrapper">
						<div id="fullsize" style=" float:left;">
							<div id="imgprev" class="imgnav" title="Previous Image" style="display:none;"></div>
							<div id="imglink"></div>
							<div id="imgnext" class="imgnav" title="Next Image"  style="display:none;"></div>
							<div id="image"></div>
							<div id="information">
								<h3></h3>
								<p></p>
							</div>
						</div>
						<div id="thumbnails" style=" float:left;">
							<div id="slideleft" title="Slide Left"  style="display:none;"></div>
							<div id="slidearea">
								<div id="slider"></div>
							</div>
							<div id="slideright" title="Slide Right" style="display:none;"></div>
						</div>
					</div>
				</div>
				<div class="houseText">
					<h5><img src="images/funr5.png"/>餐饮价格</h5>
					<p>农家乐餐饮有传统的农家乐标准菜套餐和单点两种。</p>
					<p>农家乐标准菜套餐为： 20元/人</p>
					<p><strong>菜品有：</strong>素炒土豆丝、凉拌山野菜、辣椒炒鸡蛋、红烧老豆腐</p>
					<p><strong>主食有：</strong>锅盔、面条、煎饼、粥、米饭等。</p><br />
					<p>单点菜的菜品有：</p>
					<p><strong>凉菜有：</strong></p>
					<p><strong>热菜有：</strong></p>
					<p><strong>主食有：</strong></p>
					<p><strong>汤类有：</strong></p>
					<p>包吃包住：55元——80元/人 （每日三餐）</p>
					<p>团体包吃包住：50元-100元/人送篝火晚会、一只烤羊 （30人以上）</p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="left"><img src="images/fl.gif" /></div>
		<div class="rightBox">
			<p>
				<a href="info.html">关于我们</a>|
				<a href="job.html">兼职招聘</a>|
				<a href="zshz.html">招商合作</a>|
				<a href="bqsm.html">版权声明</a>|
				<a href="wzdt.html">网站地图</a>
			</p>
			<p><a href="http://www.miibeian.gov.cn">陕ICP备09009896</a></p>
			<p class="ml5">西安市长安太乙宫杏园村120号 | Tel.029)85898621 | <img src="images/xin.gif" />50868470@qq.com</p>
		</div>
	</div>
</div>
<script type="text/javascript" src="/javascripts/slide.js" ></script>
<script type="text/javascript">
	$('slideshow').style.display='none';
	$('wrapper').style.display='block';
	var slideshow=new TINY.slideshow("slideshow");
	window.onload=function(){
		slideshow.auto=true;
		slideshow.speed=5;
		slideshow.link="linkhover";
		slideshow.info="information";
		slideshow.thumbs="slider";
		slideshow.left="slideleft";
		slideshow.right="slideright";
		slideshow.scrollSpeed=4;
		slideshow.spacing=1;
		slideshow.active="#fff";
		slideshow.init("slideshow","image","imgprev","imgnext","imglink");
	}
</script>
</body>
</html>
