		<div class="mainBox">
			<div class="minNav">
				<p>土特产代购 &lt; <a href="info.html">简介</a></p>
			</div>
			<div class="mainAll infoText">
        <%=@post.html_content if @post %>
			</div>
		</div>
