		<div class="mainBox">
			<div class="minNav">
				<p>联系我们 &lt; <a href="/">西安山水农家乐</a></p>
			</div>
			<div class="mainAll">
				<div class="box" id="l1">
					<h5 style="margin-bottom:10px;folat:left;">联系我们</h5>
					<p>地址：陕西省西安市长安区太乙宫杏园村120号</p>
					<p>邮编：710100</p>
					<p>邮箱：50868470@qq.com</p>
					<p>联系电话：029-85898621</p>
					<p>手机：13484510111<span>（注：请拨打固定电话，手机有时没信号拨不通）</span></p>
					<p>网址：www.shanshui18.com</p>
					<p>联系人：赵先生</p>
				</div>
				<div class="box" id="l2">
					<h5>行车路线</h5>
					<h4>开车路线：</h4>
					<p>1.走二环超韦曲方向一直向南，过杜曲至太乙宫西安翻译学院，沿进山公路继续向南10分钟路东可见；</p>
					<p>2.走韦杜高速路，至黄岱湾朝南，至太乙宫西安翻译学院，沿进山公路继续向南10分钟路东可见。</p>
					<h4>公交车路线</h4>
					<p>从南门乘215路、K600路、239路至电视塔下（票价1元）——换乘905路可直接到西安翻
译学院，再换乘小面包或上山的905至崇仁希望小学下，农家就在小学隔壁。</p>
					<h4>备注：</h4>
					<p>如途中迷路或找不到农家地点，可随时拨打电话：029-85898621咨询。</p>
					<p><span>温馨提示：农家院落宽敞，有时候会听不到电话的铃声，所以请耐心等待。</span></p>
				</div>
				<div class="box" id="l3">
					<h5>常见问题</h5>
          <%=@ask.content if @ask && !@ask.content.blank?%>
				</div>
			</div>
		</div>
