		<div class="mainBox">
			<div class="minNav">
        <p>简介 &lt; <a href="/">西安山水农家乐</a></p>
			</div>
			<div class="mainAll infoBack">
        <h2><img src="/images/top/ifonT0.jpg" /></h2>
				<p>山水农家乐位于西安市约30公里的翠华山脚下，山水环抱，名如其景。</p>
				<p>农家空气清新，四季常绿。门前一条蜿蜒而下的河流，清澈见底，鱼虫欢愉。</p>
				<p>无论您是在院子里品茗观景，还是静卧在干净整洁的房间里休息，</p>
				<p>无不让您心情放松，想要排压解忧，静享自然美景，当然要来山水家试一下。</p><br />
				<p>农家建筑面积达500平米，没有院门，院内宽敞整洁，花藤和盆栽品种繁多。</p>
				<p>繁茂的生长为您搭起一顶绿色的凉蓬。农家可同时容纳四十多人住宿，一百余人就餐。</p>
				<p>农家为您提供各式标准客房，白色系布置，电视、空调、独立卫浴等一应俱全，</p>
				<p>在这里能够让您享受到星级待遇。</p><br />
				<p>农家还可以为您精心准备秦岭黑菜、野蒜苗炒鸡蛋、山野小鱼等特色菜，</p>
				<p>还有野鸡、野兔、鸽子等诱人的野味。</p>
				<p>一年四季都有自家中的时令蔬菜，如豆角、茄子、大葱、辣椒、</p>
				<p>豇豆、西红柿、黄瓜、蒜苗等等，您还可以亲自到田间择菜，</p>
				<p>感受真正乡间生活的奇妙滋味。</p><br />
				<p>农家人勤劳朴实，热情好客，真诚为您提供温馨周到的服务。</p>
				<p>无论是备菜炒菜，还是收拾扫洒，都是农家人亲力亲为。</p><br />
        <p>想了解其他更多关于吃住的详细信息，请点击主导航的</p>
				<p><a href="/house/1">温馨住宿</a>和<a href="/food/11">农家美食</a>相关页面。</p>
				<p>另外还有<a href="/post/buy">农家土特产代购</a>信息。</p>
			</div>
		</div>
