		<div class="mainBox">
			<div class="minNav">
				<p>农家文化 &lt; <a href="/info">山水简介</a></p>
			</div>
			<div class="mainAll infoText">
				<p>&nbsp;&nbsp;&nbsp;&nbsp;无论是备菜炒菜，还是收拾扫洒，都是农家人亲力亲为。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;山水农家乐有着农家乐最原始的淳朴和勤劳，更有着大都市时尚的服务意识，热情周到，从游客的角度出发，为您提供放心的菜品，舒心的住宿，开心的休闲娱乐。预定一日三餐加住宿50元/人/天（限10人以上团体）。</p><br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;山水农家文化</p>
        <p class="kt">&nbsp;&nbsp;&nbsp;&nbsp;1、家庭经营模式:</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;纯正的山村人山村生活，日出而作，日落而息。您可以在这个独立的院落里尽情放松歌唱，也可以面对苍茫的大山尽情宣泄所有的压力和不满，想吃什么只要我们有的，您只管说，我们定会尽量满足您的需求。全家人热情好客，勤劳朴实的接待，会让您有种回到老家的亲切感。</p><br />
        <p class="kt">&nbsp;&nbsp;&nbsp;&nbsp;2、山水农家乐是典型的旅游风景区农家乐:</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;坐落于人口密度小的大山深处，紧邻翠华山风景区，可以前一天晚上来休息好，第二天一大早开始爬山，甚至可以到秦岭草甸，“一览众山小”的诗中意境。无论是吃住休憩还是避暑乘凉，这里是您长期或短期的最佳选择。儿女们喜欢让父母来这里小住，空气清新，食宿放心；都市白领喜欢来这里小住，安静宜人，如果您不愿意被无休止的电话吵到，只要进入到房间里就好了，因为房间里没有手机信号；商务人士喜欢到这里举办各种会议，无论是年终总结还是商讨交易，都是一个适合做出明智据决定的场合。</p><br />
				<p class="kt">&nbsp;&nbsp;&nbsp;&nbsp;3、农家靠山吃山:</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;自家种植各种时令蔬菜，饲养家禽，土鸡、土狗、兔子、鸭子、鹅都可由您挑选要那只，我们提倡节能环保，用心热爱自然，是您休闲美食及住宿的最佳选择。</p>
			</div>
		</div>
